// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.messages{
  color: #000;
  box-sizing: border-box;
  margin: 0;
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;

  .message{
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;

    .message__upper-info{
      color: #000;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: flex;
      margin-bottom: 10px;

      .message__upper-info__talker{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      .message__upper-info__date{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }

    }
  }
   






}





    // .main__header {
    //   color: #000;
    //   box-sizing: border-box;
    //   margin: 0;
    //   height: 100px;
    //   padding: 0 40px;
    //   display: flex;
    //   justify-content: space-between;
    //   border-bottom: solid 1px #eee;
    //   overflow: scroll;

    //   &__left__box {
    //     color: #000;
    //     box-sizing: border-box;
    //     margin: 0;
    //     padding: 0;
    //     margin-top: 35px;

    //     &____current-group {
    //       box-sizing: border-box;
    //       margin: 0;
    //       padding: 0;
    //       font-weight: normal;
    //       font-size: 20px;
    //       color: #333;
    //       margin-bottom: 15px;
    //     }
    //   }

    // }
    // .messages {
    //   color: #000;
    //   box-sizing: border-box;
    //   margin: 0;
    //   height: calc(100vh - 190px);
    //   padding: 46px 40px;
    //   background-color: #fafafa;
    //   overflow: scroll;
    // }

  


    //   .side__header {
  //     color: white;
  //     box-sizing: border-box;
  //     margin: 0;
  //     background-color: #253141;
  //     height: 100px;
  //     display: flex;
  //     align-items: center;
  //     padding: 0 20px;
      
  //     &__box{
  //       color: white;
  //       box-sizing: border-box;
  //       margin: 0;
  //       padding: 0;
  //       display: flex;
  //       justify-content: space-between;
  //       width: 100%;
  //       font-weight: bold;
      
  //       &__user__name{
  //         color: white;
  //         font-weight: bold;
  //         box-sizing: border-box;
  //         margin: 0;
  //         padding: 0;
  //         font-size: 16px;
  //         line-height: 24;
  //       }

  //       .side-header__box__menu {
  //         color: white;
  //         font-weight: bold;
  //         margin: 0;
  //         padding: 0;
  //         list-style: none;
  //         display: flex;
        
  //         &__new__group{
  //           color: white;
  //           font-weight: bold;
  //           list-style: none;
  //           box-sizing: border-box;
  //           margin: 0;
  //           padding: 0;
  //           margin-left: 0.3rem;
  //           white-space: nowrap;

  //           .a{
  //             font-weight: bold;
  //             list-style: none;
  //             white-space: nowrap;
  //           }
           
  //             .li{
  //               list-style: none;
  //               white-space: nowrap;
  //               display: inline-block;
  //               font: normal normal normal 14px/1 FontAwesome;
  //               font-size: inherit;
  //               text-rendering: auto;
  //               -webkit-font-smoothing: antialiased;
  //             }

  //       &__new__group::before

  //       &__edit-user{
  //         color: white;
  //         font-weight: bold;
  //         list-style: none;
  //         box-sizing: border-box;
  //         margin: 0;
  //         padding: 0;
  //         margin-left: 0.3rem;

  //         .a{
  //           font-weight: bold;
  //           list-style: none;
  //           box-sizing: border-box;
  //           text-decoration: none;
  //           color: white;
  //         }
  //       }
  //     }
  //   }  
  //   }
  // }














    //     height: calc(100% - 20px);
    //     width: 300px;
    //     background-color: #253141; 
        // padding-top: 20px;
        // float: left;
        // z-index: 0;
        // @include clearfix();
      //   .side__header {
      //     width: 300px;
      //     height: 60px;  
      //     font-size:15px;
      //     background-color: #253141;  
      //     display: block;
      //     text-align: left;
      //     float: left;
      //     padding-top: 20px;
      //     position: absolute;
      //     @include clearfix();
          // z-index: 1;
          // &__box {
          //   font-size: 24px;
          //   font-weight:bold;
          // }
        //   &__user-name {
        //       font-size: 24px;
        //     }
        //   &__menu {
        //     &__new-group {
        //       }
        //     &__edit-user {
        //       }
        //     }
//         //   }    
//         // }  
//         .groups { 
//           background-color: $mainblueColor;   
//           height: calc(100% - 60px);
//           width: 100%;
//           display: block;
//           z-index: 1;
//         }
//         }
                  // width: 100%;
                  // padding-top: 60px;
                  // float: left;
// .contents {
//   height: calc(100% - 20px);
//   width: 100%;
//   // padding-top: 20px;
//   // float: left;
//   z-index: 0;
//   @include clearfix();
//   &__left__header{
//     width: 300px;
//     height: 60px;  
//     font-size:15px;
//     background-color: #253141;  
//     display: block;
//     text-align: left;
//     float: left;
//     z-index: 1;
//       }
//       &__box{
//       background-color: $mainblueColor;   
//       height: calc(100% - 60px);
//       // width: 100%;
//       // padding-top: 60px;
//       // float: left;
//       display: block;
//       z-index: 1;
//       }
//       &__btn{
//         display: block;
//         height: 80px;
//         width :360px;
//         margin:0 auto 50px;
//         border-radius: 10px;
//         font-size:20px;
//         color:#fff;
//         text-decoration: none;
//         text-align: center;
//         line-height: 80px;
//         &--icon{
//           padding-right:20px;
//         }
//         &--facebook{
//           background-color: #4169e1;
//         }
//         &--twitter{
//           background-color: #00bfff;
//         }
//         &--instagram{
//           background-color: #fc76bf;
//         }
//       }
// }
