@import "font-awesome";
@import "config/colors";
@import "config/font-size";
@import "config/reset";
@import "modules/side_bar";
@import "modules/chat";
@import "modules/flash";
@import "clearfix";
@import "variable";
@import "user";
@import "modules/group";
// @import "messages";
// @import "form";
// @import "side-header";
// @import "groups";
// @import "main-header";

.wrapper{
  color: #000;
  box-sizing: border-box;    
  margin: 0;
  padding: 0;
  display: flex;
}

// a {
//   color:#ffffff;
//   }
  
// a:hover {
//   color:#ffffff;
//   }
  
// a:visited {
//   color:#ffffff;
//   }
  
  // .chat__side{
  //   box-sizing: border-box;
  //   margin: 0;
  //   padding: 0;
  //   width: 300px;
  //   color: white;
  //   float: left;   
  // }

  // .chat__main {
  //   color: #000;
  //   box-sizing: border-box;
  //   margin: 0;
  //   padding: 0;
  //   width: calc(100vw - 300px);
  //   float: left;
  // }




