@import "reset";
@import "config/colors";
@import "config/font-size.scss";
@import "modules/flash";
@import "font-awesome";
@import "clearfix";
@import "variable";
// @import "side-header";
@import "main-header";
@import "messages";
// @import "form";
@import "user";
@import "modules/group";
@import "modules/side_bar.scss";
@import "modules/chat";
// @import "groups";



.wrapper{
  color: #000;
  box-sizing: border-box;    
  margin: 0;
  padding: 0;
}

a {
  color:#ffffff;
  }
  
a:hover {
  color:#ffffff;
  }
  
a:visited {
  color:#ffffff;
  }
  
  // .chat__side{
  //   box-sizing: border-box;
  //   margin: 0;
  //   padding: 0;
  //   width: 300px;
  //   color: white;
  //   float: left;   
  // }

  .chat__main {
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: calc(100vw - 300px);
    float: left;
  }
    



